.container {
    margin: 0;
    padding: 0;
    height: auto;
    
}
.container main{
    min-height: 100vh;
    padding: 150px 10%;
}
/* Header */
.header{
    position: fixed;
    width: 100%; 
}
.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;

}
.logo h1 {
    font-size: 30px;
}
.logo span {
    color: #0070f3;
    /* color: red; */
}
.search_bar input{
    /*width: 250px;*/
    /* border: none; */
    /* border-bottom: 1px solid black; */
}
.search_bar input.focus{
    border: none;
}


/* Navbar de categorias */
.navbar_categories {
    height: auto;
    min-height: 40px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap;

    background-color: #2c2c2c;

}
.navbar_categories a {
    color: #f1f1f1;
    background-color: transparent;
    text-decoration: none;
}
.navbar_categories button {
    color: #f1f1f1;
    background-color: transparent;

    border: none;
    cursor: pointer;
}
.navbar_categories button:hover, .navbar_categories a:hover{
    color: #0070f3;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;

    height: 200px;
}

/*.footer .licence{
    color: #f1f1f1;
}*/