.grid_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 500px;
    grid-gap: 40px;

}
.card{
    /* background-color: #f1f1f1; */
    padding: 10px;
}
.image_container{
    position: relative;
    /*width: 250px;*/
    height: 250px;
    background-color: #fdfdfd;
}
.card_title{
    color: #0070f3;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding-bottom: 20px;

}
.card_title:hover{
    text-decoration: underline;
}
.card img {
    width: 100%;
}
/*
.card:nth-child(1)  {
    grid-column-start: 1;
    grid-column-end: -2;

    grid-row-start: 1;
    grid-row-end: 2;
 
    cursor: default;

 }

.card:nth-child(1) > .image_container {
    background-color: red;
    height: 100%;
    width: 100%;
}
*/


