.grid_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 40px;

}
.card{
    /* background-color: #f1f1f1; */
    padding: 10px;
}
.image_container{
    position: relative;
    min-height: 350px;

    background-color: #fdfdfd;
}
.card_title{
    color: #0070f3;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding-bottom: 20px;

}
.card_title:hover{
    text-decoration: underline;
}
.card img {
    width: 100%;
}

.card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -2;
    /* border-bottom: 1px solid black; */
 
    cursor: default;


 }